<div class="container">
  <div class="col-xs-12">
    <h2>Cart Page</h2>
  </div>
  <div class="col-xs-6">
    <div>
        <span>QTY</span>
        <span>ITEM</span>
        <span>Price</span>
    </div>
    <div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="quantity">1</span>
          <span class="itemName">Lorem Ipsum</span>
          <span class="price">$69.95</span>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="quantity">1</span>
          <span class="itemName">Dolor Sit</span>
          <span class="price">$49.95</span>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="quantity">1</span>
          <span class="itemName">Foo</span>
          <span class="price">$19.95</span>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="quantity">1</span>
          <span class="itemName">Bar</span>
          <span class="price">$9.95</span>
        </div>
      </div>
    </div>
    <div>
        <span class="itemName">Total:</span>
        <span class="price">$9999.99</span>
        <button ui-sref="login" class="btn btn-success">ORDER</button>
    </div>
  </div>

</div>
