<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid contententer">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav white-text">
        <li><a href="#" ng-click="" pdl_track_headerNavigation="PREPAID">Prepaid |</a></li>
        <li><a href="#" ng-click="" pdl_track_headerNavigation="CUSTOMERS">Customers |</a></li>
        <li><a href="#" ng-click="" pdl_track_headerNavigation="BUSINESS">Business |</a> </li>
        <li><a href="#" ng-click="" pdl_track_headerNavigation="ABOUT">About</a></li>
      </ul>
    </div><!--/.nav-collapse -->
    <span class="espanol" pdl_track_headerNavigation="ESPANOL" ng-click="">ESPAÑOL</span>
  </div><!--/.container-fluid -->
  <hr/>
  <div class="container-fluid belowheader">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="T-Mobile" src="../../../images/header_logo.png">
      </a>
    </div>
  </div>
</nav>
