<nav class="navbar navbar-default navbar-fixed-bottom dark-grey-bg headerlinks">
  <div class="navbar-header navbarfooter" style="height:0px" pdl_track_footerNavigation="FOOTER-SUB-MENU">
  	<a href="#" ng-click="">Contact Us</a>
  	<a href="#" ng-click="">Company</a>
  	<a href="#" ng-click="">Support | </a>
  	<a href="#" ng-click="">Prepaid Refill</a>
  	<a href="#" ng-click="">Activate Grab N Go</a>
  </div>
  <div class="navbarfootersublinks" pdl_track_footerNavigation="FOOTER-SUB-MENU">
  	<a href="#" ng-click="">Privacy Policy</a>
  	<a href="#" ng-click="">Terms of Use</a>
  	<a href="#" ng-click="">Terms &amp; Conditions</a>
  	<a href="#" ng-click="">Broadband Internet Service</a>
  	<a href="#" ng-click="">Protecting Your Account</a>
  	<a href="#" ng-click="">Internet-Based Ads</a>
  </div>
</nav>
