<div class="container">
  <div class="col-xs-12">
    <h2>Accessory List Page</h2>
  </div>
  <div class="col-xs-12">
    <div class="row text-center">

      <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
              <img src="http://placehold.it/800x500" alt="">
              <div class="caption">
                  <h3>Foo</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <p>Price: $9.99</p>
                  <p>
                      <a ui-sref="cart" href="" class="btn btn-primary">Add to Cart</a>
                  </p>
              </div>
          </div>
      </div>

      <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
              <img src="http://placehold.it/800x500" alt="">
              <div class="caption">
                  <h3>Bar</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <p>Price: $9.99</p>
                  <p>
                      <a ui-sref="cart" href="" class="btn btn-primary">Add to Cart</a>
                  </p>
              </div>
          </div>
      </div>

      <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
              <img src="http://placehold.it/800x500" alt="">
              <div class="caption">
                  <h3>Baz</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <p>Price: $9.99</p>
                  <p>
                      <a ui-sref="cart" href="" class="btn btn-primary">Add to Cart</a>
                  </p>
              </div>
          </div>
      </div>

      <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
              <img src="http://placehold.it/800x500" alt="">
              <div class="caption">
                  <h3>Qux</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <p>Price: $9.99</p>
                  <p>
                      <a ui-sref="cart" href="" class="btn btn-primary">Add to Cart</a>
                  </p>
              </div>
          </div>
      </div>

    </div>
  </div>
</div>
